.container{
  /* border: 1px solid black; */
  width: 1000px;
}
#path {
        
  background-image: url(natural.webp);
    padding: 10px,0,500px,0;
    background-size: cover;
    border: 1px solid black;
    /* background-position: center; */
    /* background-size: 100%; */
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#icon {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  text-align: center;
  justify-content: space-evenly;
  
}
.cost {
  display: flex;
  text-align: center;
  
}
#cost,#free,#tick {
  /* display: inline; */
  height: 100px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  border-radius: 500px;

}
.cat-container{
  display: flex;
  width: 600px;
  height: 195px;
  /* margin: 5px; */
 /* padding: 5px 0px 0px 10px; */
 margin-left: auto;
 margin-right: auto;
 


  border: 1px solid black;
  /* border-radius: 2px; */
}
#cart{
  margin: 0px;

}
.cat-text{
    text-align: center;
   margin: 10px;
}
  
  /* padding: 10px 5px 10px 0px; 



